<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wall/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>login</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>login and registration</h1>
    </div>
    <form action='/process', method='post'>
        <p>register</p>
        {% csrf_token %}
        <label>first name</label>
        <input id="firstname" name="firstname" type="text">

        <label for="lastname">last name</label>
        <input id="lastname" name="lastname" type="text">

        <label for="email">Email</label>
        <input id="email" name="email" type="text">

        <label for="password">password</label>
        <input id="password" name="password" type="password">

        <label for="passwordconf">confirm password</label>
        <input id="passwordconf" name="passwordconf" type="password">
        <button type="submit">Submit</button>
      </form>
      <div class="errorbox">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.errors %} class="{{ message.errors }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>
      <form class='login' action='/login', method='post'>
        <p>login</p>

        <label for="email">Email</label>
        <input id="email" name="email" type="text">
        {% csrf_token %}
        <label for="password">password</label>
        <input id="password" name="password" type="password">
        <button type="submit">Submit</button>
      </form>
</body>
</html>