<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wall/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1 class="jumbotron">Welcome to the wall, {{user.firstname}} <a class='logout' href="/">logout</a></h1>
    <form action="/newmessage" method="post" id="msgform">
        {% csrf_token %}

        <textarea type="text" name="messagecontent" cols='80' placeholder="leave a message" id="msgform"></textarea>
        <input type="hidden" name="hidden" value="{{user.id}}">

        <input type="submit" value="submit">
    </form>
    {%for message in messages%}
    <div class='message'></p>{{message.content}} - {{message.created_at}}</p>
    <ul>
        {%for comment in message.comments.all %}
        <li class='comment'>{{comment.content}} - {{comment.created_at}}</li>
        {%endfor%}
        <form action="/newcomment" method="post" id='commentform'>
            {% csrf_token %}
            <input type="text" name="commentcontent" placeholder="leave a comment">
            <input type="hidden" name="hidden" value="{{message.id}}">
            <input type="submit" value="submit">
        </form>
    </ul>
    </div>
    {%endfor%}
</body>

</html>